<div class="container margin-top-form">
   <div class="row">
      <div class="col-md-8">
         <h1>Create</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-8">
         <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
         <% end %>
      </div>
   </div>
   <div class="row">
      <div class="col-md-8">
        <%= form_for @post, url: posts_path, html: { multipart: true } do |f| %>
         <div class="form-group">
            <% if @post.errors.any? %>
            <div class="list_error_form">
               <ul>
                  <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
               </ul>
            </div>
            <% end %>
         </div>
         <div class="form-group">
            <%= f.hidden_field :user_id, :value => current_user.id, :class => 'form-control'  %>
         </div>
         <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, :class => 'form-control border-solid'  %>
         </div>
         <div class="form-group">
            <%= f.label :briefing %>
            <%= f.text_field :briefing, :class => 'form-control border-solid' %>
         </div>
         <div class="form-group">
            <%= f.label :text %>
            <%= f.text_area :text, :class => 'form-control border-solid', :rows => 15, :style => 'resize: none' %>
         </div>
         <div class="form-group">
            <label for="">Image</label>
            <%= f.file_field :avatar, :class => 'form-control border-solid cursor-pointer' %>
         </div>
         <div class="form-group">
            <%= f.submit 'Create', :value => 'Create', :class => "btn btn-success col-md-2 cursor-pointer float-right margin-bottom_button" %>
            <%= link_to 'Clean', new_post_path, :class => "btn btn-default col-md-2 cursor-pointer float-right margin-bottom_button" %>
            <%= link_to 'Cancel', root_path, :class=>'btn btn-info col-md-2 cursor-pointer float-right margin-bottom_button' %>
         </div>
        <% end %>
      </div>
   </div>
</div>
<style>
   .margin-bottom_button{
   margin-bottom: 20px;
   }
   label{
   font-weight: bold;
   }
   .list_error_form{
      border:3px solid red;
      background-color:#f2ddbe;
      color:red;
      font-weight:bold;
      border-radius:7px;  
   }
</style>